<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="business_info">
      <%= gravatar_for @business %>
      <h1><%= @business.name %></h1>
      <span><%= link_to "view my profile", @business %></span>
      <span><b>Experiences:</b> <%= @user.experiences.count %></span>
    </section>
    <section class="statzs">
      <%= render 'shared/statzs' %>
      <% if @businesses.any? %>
        <div class="business_avatars">
          <% @businesses.each do |business| %>
            <%= link_to gravatar_for(business, size: 30), business %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @businesses.any? %>
      <ul class="businesses follow">
        <%= render @businesses %>
      </ul>
      
      <%= will_paginate %>
    <% end %>
  </div>
</div>