<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following(Users)
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers(Users)
  </a>
  <a href="<%= followingz_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followingz.count %>
    </strong>
    following(Businesses)
  </a>
</div>